<form class="{{cssClass}} Liber flexcol" autocomplete="off">
<div class="fiche">
	{{!-- Sheet Header --}}
	<div style="width: 592px;float: left;display: inline-block;">
		<div class="sheet-header flexcol" id="pj-titre" style="flex: 0 0 515px;">
			<div class="head">
				<div class="avatar"> 
					<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
				</div>
				<div class="headtext">
					<input class="nomperso" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
					<div class="rexrow">
						<div class="grid-3col">			
							<p>{{localize 'libersf.race'}} : <input class="race" type="text" value="{{data.data.race}}" placeholder="Race" readonly /></p>
						</div>
						<div class="grid-3col">
							<p>{{localize 'libersf.metier'}} : <input class="metier" type="text" value="{{data.data.metier}}" placeholder="Clan" readonly /></p>
						</div>
						<div class="grid-3col">
							<p>{{localize 'libersf.faction'}} : <input class="faction" type="text" value="{{data.data.religion}}" placeholder="Faction  - Religion" readonly /></p>
						</div>
						<!--div class="separator"></div-->
						<p>{{localize 'libersf.bonus'}} : <input class="bonusrace" title="{{data.data.bonusrace}}" name="data.bonusrace" type="text" value="{{data.data.bonusrace}}" placeholder="Bonus" style="width: 158px" readonly/> <input class="bonusmetier" title="{{data.data.bonusmetier}}" name="data.bonusmetier" type="text" value="{{data.data.bonusmetier}}" placeholder="bonusmetier" style="width: 158px" readonly />{{localize 'libersf.level'}} : <input class="niveau" name="data.level" type="text" value="{{data.data.level}}" placeholder="1"/></p>
					</div>
					
				</div>
			</div>
		</div>
		<main>
			<h2>{{localize 'libersf.histoire'}}</h2>
				<textarea class="histoire" name="data.histoire">{{data.data.histoire}}</textarea>
			<h2>{{localize 'libersf.etat'}}</h2>
			<div class="rexrow stat">
				<div class="grid-2col">
					<p><span class="deno">❤ {{localize 'libersf.vie'}}</span><input class="hp" name="data.hp.value" type="text" value="{{data.data.hp.value}}" placeholder="10" style="width: 40px;"/><input class="hpmax" name="data.hp.max" type="text" value="{{data.data.hp.max}}" placeholder="10" style="width: 40px;"/>
					<span class="deno andromede">☀ {{localize 'libersf.psy'}}</span><input class="psy andromede" name="data.psy.value" type="text" value="{{data.data.psy.value}}" placeholder="10" style="width: 40px;"/><input class="psymax andromede" name="data.hp.psy" type="text" value="{{data.data.hp.psy}}" placeholder="10" style="width: 40px;"/></p>
				</div>
				<div class="grid-2col">
					<p><span class="deno">⛉ {{localize 'libersf.armure'}}</span><input class="actarm" name="data.armure.value" type="text" value="{{data.data.armure.value}}" placeholder="0"/><input class="actarmmax" name="data.armure.max" type="text" value="{{data.data.armure.max}}" placeholder="0"/>
					<span class="deno">⛉ {{localize 'libersf.bouclier'}}</span><input class="actbou" name="data.protections.value" type="text" value="{{data.data.protections.value}}" placeholder="0"/><input  class="actboumax" name="data.protections.max" type="text" value="{{data.data.protections.max}}" placeholder="0"/> </p>
				</div>
				<div class="clear"></div>
				<div class="etat">
					<button class="etat0"></button>
					<button class="etat1"></button>
					<button class="etat2"></button>
					<button class="etat3"></button>
					<button class="etat4"></button>
					<button class="etat5"></button>
					<button class="etat6"></button>
					<button class="etat7"></button>
					<button class="etat8"></button>
					<button class="etat9"></button>
					<button class="etat10"></button>
					<button class="etat11"></button>
					<button class="etat12"></button>
					<button class="etat13"></button>
					<input class="etats" name="data.etat" type="text" value="{{data.data.etat}}" style="display:none"/>

				</div>
			</div>
			<div class="clear"></div>
			<div class="rexrow modif">
				<div class="grid-4col">
					<h2>{{localize 'libersf.team'}}</h2>
					<input class="team" name="data.team" type="text" value="{{data.data.team}}" placeholder="0"/>
				</div>
				<div class="grid-4col">
					<h2>{{localize 'libersf.solitude'}}</h2>
					<input class="solit" name="data.solit" type="text" value="{{data.data.solit}}" placeholder="0"/>
				</div>
				<div class="grid-4col">
					<h2>{{localize 'libersf.ptarmor'}}</h2>
					<div class="armcl"><span class="ptarm"></span></div>
				</div>
				<div class="grid-4col">
					<h2>{{localize 'libersf.ptboucl'}}</h2>
					<div class="boucl"><span class="ptbou"></span></div>
				</div>
			</div>
		</main>
	</div>
	<div style="width: 592px;float: left;display: inline-block;">
		<div class="autres">
			{{!-- Sheet Tab Navigation --}}
		    <nav class="sheet-tabs tabs" data-group="primary">
		        <a class="item active" data-tab="features"><span>{{localize 'libersf.cpt'}}</span></a><a class="item" data-tab="carac"><span>{{localize 'libersf.cara'}}</span></a><a class="item" data-tab="items"><span>{{localize 'libersf.inv'}}</span></a><a class="item andromede" data-tab="magie"><span>{{localize 'libersf.magie'}}</span></a><a class="item" data-tab="sante"><span>{{localize 'libersf.sante'}}</span></a><a class="item" data-tab="lab">⚙</a>
		    </nav>
		    {{!-- Sheet Body --}}
			<section class="sheet-body" style="overflow: hidden;height: 717px;">
			    {{!-- Features Tab --}}
				<div id="features" class="tab features"  data-group="primary" data-tab="features">
					<h2 style="text-align:center">{{localize 'libersf.action'}}</h2>
					<div class="action0" title="{{localize 'libersf.marche'}}"></div>
					<div class="action0b" title="{{localize 'libersf.run'}}"></div>
					<div class="action1 jetdedes" data-name="Tircouv" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Tir}}" data-armed="{{data.data.armed}}" data-degat="{{data.data.degatd}}" data-charged="{{data.data.charged}}" title="{{localize 'libersf.tircouv'}}"></div>
					<div class="action2" title="{{localize 'libersf.commun'}}"></div>
					<div class="action3" title="{{localize 'libersf.soutien'}}"></div>
					<div class="action4 jetdedes" data-name="Tir" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Tir}}" data-armed="{{data.data.armed}}" data-degat="{{data.data.degatd}}" data-charged="{{data.data.charged}}" title="{{localize 'libersf.raffale'}}"></div>
					<div class="action5" data-name="Tir" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Tir}}" data-armed="{{data.data.armed}}" data-degat="{{data.data.degatd}}" data-charged="{{data.data.charged}}" title="{{localize 'libersf.horsmap'}}"></div>
					<div class="action6" title="{{localize 'libersf.couver'}}"></div>
					<div class="clear"></div>

					<h2 style="text-align: center;">Jet D100 sur Base 30</h2>
					<div class="compt"><button class="jetdedes" data-name="Agilité" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Agilité}}">{{localize 'libersf.agil'}}</button>
					<input class="cpt0" name="data.Agilité" type="text" value="{{data.data.Agilité}}" placeholder="{{data.data.Agilité}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Artisanat" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Artisanat}}">{{localize 'libersf.arti'}}</button>
					<input class="cpt1" name="data.Artisanat" type="text" value="{{data.data.Artisanat}}" placeholder="{{data.data.Artisanat}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Balistique" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Balistique}}">{{localize 'libersf.bali'}}</button>
					<input class="cpt2" name="data.Balistique" type="text" value="{{data.data.Balistique}}" placeholder="{{data.data.Balistique}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Combat" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Combat}}">{{localize 'libersf.comb'}}</button>
					<input class="cpt3" name="data.Combat" type="text" value="{{data.data.Combat}}" placeholder="{{data.data.Combat}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="ConGén" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.ConGén}}">{{localize 'libersf.cong'}}</button>
					<input class="cpt4" name="data.ConGén" type="text" value="{{data.data.ConGén}}" placeholder="{{data.data.ConGén}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="ConSpécif" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.ConSpécif}}">{{localize 'libersf.comp'}}</button>
					<input class="cpt5" name="data.ConSpécif" type="text" value="{{data.data.ConSpécif}}" placeholder="{{data.data.ConSpécif}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Dextérité" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Dextérité}}">{{localize 'libersf.dext'}}</button>
					<input class="cpt6" name="data.Dextérité" type="text" value="{{data.data.Dextérité}}" placeholder="{{data.data.Dextérité}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Diplomatie" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Diplomatie}}">{{localize 'libersf.dipl'}}</button>
					<input class="cpt7" name="data.Diplomatie" type="text" value="{{data.data.Diplomatie}}" placeholder="{{data.data.Diplomatie}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Discrétion" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Discrétion}}">{{localize 'libersf.disc'}}</button>
					<input class="cpt8" name="data.Discrétion" type="text" value="{{data.data.Discrétion}}" placeholder="{{data.data.Discrétion}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Force" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Force}}">{{localize 'libersf.forc'}}</button>
					<input class="cpt9" name="data.Force" type="text" value="{{data.data.Force}}" placeholder="{{data.data.Force}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Investigation" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Investigation}}">{{localize 'libersf.inve'}}</button>
					<input class="cpt10" name="data.Investigation" type="text" value="{{data.data.Investigation}}" placeholder="{{data.data.Investigation}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Jeu" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Jeu}}">{{localize 'libersf.ajeu'}}</button>
					<input class="cpt11" name="data.Jeu" type="text" value="{{data.data.Jeu}}" placeholder="{{data.data.Jeu}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Mécanique" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Mécanique}}">{{localize 'libersf.meca'}}</button>
					<input class="cpt12" name="data.Mécanique" type="text" value="{{data.data.Mécanique}}" placeholder="{{data.data.Mécanique}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Médecine" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Médecine}}">{{localize 'libersf.mede'}}</button>
					<input class="cpt13" name="data.Médecine" type="text" value="{{data.data.Médecine}}" placeholder="{{data.data.Médecine}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Natation" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Natation}}">{{localize 'libersf.nata'}}</button>
					<input class="cpt14" name="data.Natation" type="text" value="{{data.data.Natation}}" placeholder="{{data.data.Natation}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Navigation" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Navigation}}">{{localize 'libersf.navi'}}</button>
					<input class="cpt15" name="data.Navigation" type="text" value="{{data.data.Navigation}}" placeholder="{{data.data.Navigation}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Négociation" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Négociation}}">{{localize 'libersf.nego'}}</button>
					<input class="cpt16" name="data.Négociation" type="text" value="{{data.data.Négociation}}" placeholder="{{data.data.Négociation}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Perception" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Perception}}">{{localize 'libersf.perc'}}</button>
					<input class="cpt17" name="data.Perception" type="text" value="{{data.data.Perception}}" placeholder="{{data.data.Perception}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Pilotage" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Pilotage}}">{{localize 'libersf.pilo'}}</button>
					<input class="cpt18" name="data.Pilotage" type="text" value="{{data.data.Pilotage}}" placeholder="{{data.data.Pilotage}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Piratage" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Piratage}}">{{localize 'libersf.pira'}}</button>
					<input class="cpt19" name="data.Piratage" type="text" value="{{data.data.Piratage}}" placeholder="{{data.data.Piratage}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Pistage" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Pistage}}">{{localize 'libersf.pist'}}</button>
					<input class="cpt20" name="data.Pistage" type="text" value="{{data.data.Pistage}}" placeholder="{{data.data.Pistage}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Religion" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Religion}}">{{localize 'libersf.reli'}}</button>
					<input class="cpt21" name="data.Religion" type="text" value="{{data.data.Religion}}" placeholder="{{data.data.Religion}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Science" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Science}}">{{localize 'libersf.scie'}}</button>
					<input class="cpt22" name="data.Science" type="text" value="{{data.data.Science}}" placeholder="{{data.data.Science}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Survie" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Survie}}">{{localize 'libersf.surv'}}</button>
					<input class="cpt23" name="data.Survie" type="text" value="{{data.data.Survie}}" placeholder="{{data.data.Survie}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes comptir" data-name="Tir" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Tir}}" data-armed="{{data.data.armed}}" data-degat="{{data.data.degatd}}" data-charged="{{data.data.charged}}">{{localize 'libersf.atir'}}</button>
					<input class="cpt24" name="data.Tir" type="text" value="{{data.data.Tir}}" placeholder="{{data.data.Tir}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Visée" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Visée}}">{{localize 'libersf.vise'}}</button>
					<input class="cpt25" name="data.Visée" type="text" value="{{data.data.Visée}}" placeholder="{{data.data.Visée}}" style="text-align: center"/>
					</div>
					<div class="compt  andromede"><button class="jetdedes" data-name="Visée" data-dice="1d" data-actionvalue="{{data.data.bonus}}" data-attDice="{{data.data.Visée}}">{{localize 'libersf.psy'}}</button>
					<input class="cpt26" name="data.magie" type="text" value="{{data.data.magie}}" placeholder="{{data.data.magie}}" style="text-align: center"/>
					</div>
					<div class="clear"></div>
					<div class="grid-2col" style="margin-top: 20px">
						<h2 style="text-align:center">{{localize 'libersf.restant'}}</h2>
						<input class="pointrestant" style="width:150px;border: none;background: none; font-size: 50px;height:50px;color: #fff; text-align: center;margin-left: calc(50% - 75px);" type="text" value="0" readonly/>
					</div>
					<div class="grid-2col" style="margin-top: 20px">
						<h2 style="text-align:center">{{localize 'libersf.bonusmj'}}</h2>
						<input class="malussactor" style="width:150px;border: none;background: none; font-size: 50px;height:50px;color: #fff; text-align: center;margin-left: calc(50% - 75px);" name="data.malus" type="text" value="{{data.data.malus}}" placeholder="0"/>
					</div>
					
				</div>

				{{!-- Carac Tab --}}
				<div id="carac" class="tab carac" data-group="primary" data-tab="carac">
		            <div class="compt"><span>{{localize 'libersf.resid'}} :</span><input class="residence" name="data.caractere.residence" type="text" value="{{data.data.caractere.residence}}" placeholder="{{localize 'libersf.resid'}}"/></div>
		            <div class="compt"><span>{{localize 'libersf.sanga'}} :</span><input class="sang" name="data.caractere.sang" type="text" value="{{data.data.caractere.sang}}" placeholder="{{localize 'libersf.sanga'}}"/></div>
		            <div class="compt"><span>{{localize 'libersf.secte'}} :</span><input class="secte" name="data.caractere.politique" type="text" value="{{data.data.caractere.politique}}" placeholder="{{localize 'libersf.secte'}}"/></div>
		            <div class="compt"><span>{{localize 'libersf.inter'}} :</span><input class="interet" name="data.caractere.interets" type="text" value="{{data.data.caractere.interets}}" placeholder="{{localize 'libersf.inter'}}"/></div>
		            <div class="compt"><span>{{localize 'libersf.deces'}} :</span><input class="proche" name="data.caractere.deces" type="text" value="{{data.data.caractere.deces}}" placeholder="{{localize 'libersf.deces'}}"/></div>
		            <div class="compt"><span>{{localize 'libersf.moral'}} :</span><input class="moral" name="data.caractere.moral" type="text" value="{{data.data.caractere.moral}}" placeholder="{{localize 'libersf.moral'}}"/></div>
		            <div class="compt"><span>{{localize 'libersf.amour'}} :</span><input class="amour" name="data.caractere.amour" type="text" value="{{data.data.caractere.amour}}" placeholder="{{localize 'libersf.amour'}}"/></div>
		            <div class="compt"><span>{{localize 'libersf.amiti'}} :</span><input class="amitie" name="data.caractere.amitie" type="text" value="{{data.data.caractere.amitie}}" placeholder="{{localize 'libersf.amiti'}}"/></div>
		            <div class="compt"><span>{{localize 'libersf.haine'}} :</span><input class="haine" name="data.caractere.haine" type="text" value="{{data.data.caractere.haine}}" placeholder="{{localize 'libersf.haine'}}"/></div>
		            <div class="compt"><span>{{localize 'libersf.princ'}} :</span><input class="principale" name="data.caractere.principale" type="text" value="{{data.data.caractere.principale}}" placeholder="{{localize 'libersf.princ'}}"/></div>
		            <div class="compt"><span>{{localize 'libersf.secon'}} :</span><input class="secondaire" name="data.caractere.secondaire" type="text" value="{{data.data.caractere.secondaire}}" placeholder="{{localize 'libersf.secon'}}"/></div>
		            <div class="compt"><span>{{localize 'libersf.passi'}} :</span><input class="passion" name="data.caractere.passion" type="text" value="{{data.data.caractere.passion}}" placeholder="{{localize 'libersf.passi'}} "/></div>
		            <div class="compt"><span>{{localize 'libersf.carac'}} :</span><input class="caractere" name="data.caractere.caract" type="text" value="{{data.data.caractere.caract}}" placeholder="{{localize 'libersf.carac'}}"/></div>
		            <div class="compt"><span>{{localize 'libersf.persn'}} :</span><input class="personnalite" name="data.caractere.personnalite" type="text" value="{{data.data.caractere.personnalite}}" placeholder="{{localize 'libersf.persn'}}"/></div>
		            <div class="compt"><span>{{localize 'libersf.perso'}} :</span><input class="monde" name="data.caractere.perception" type="text" value="{{data.data.caractere.perception}}" placeholder="{{localize 'libersf.perso'}}"/></div>
		            <div class="compt"><span>{{localize 'libersf.objec'}} :</span><input class="objectif" name="data.caractere.objectif" type="text" value="{{data.data.caractere.objectif}}" placeholder="{{localize 'libersf.objec'}}"/></div>
		            <div class="compt"><span>{{localize 'libersf.rancu'}} :</span><input class="rancunier" name="data.caractere.rancunier" type="text" value="{{data.data.caractere.rancunier}}" placeholder="{{localize 'libersf.rancu'}}"/></div>
		            <div class="compt"><span>{{localize 'libersf.menta'}} :</span><input class="tare" name="data.caractere.tare" type="text" value="{{data.data.caractere.tare}}" placeholder="{{localize 'libersf.menta'}}"/></div>
		            <div class="compt"><span>{{localize 'libersf.obess'}} :</span><input class="obsession" name="data.caractere.obsession" type="text" value="{{data.data.caractere.obsession}}" placeholder="{{localize 'libersf.obess'}}"/></div>
				    
				</div>
				{{!-- Items Tab --}}
				<div id="items" class="tab items" data-group="primary" data-tab="items">
					<div class="encom"><div class="barenc"></div>
						<p>{{localize 'libersf.encombrement'}} <input class="encours" name="data.encombrement.value" type="text" value="{{data.data.encombrement.value}}" placeholder="0" style="width: 40px;" readonly=""/> / 
						<input class="enc" name="data.encombrement.max" type="text" value="{{data.data.encombrement.max}}" placeholder="0" style="width: 40px;" readonly="" /> {{localize 'libersf.kg'}}</p>
					</div>
					<div class="flexrow">
						<div class="grid-3col" style="text-align: center">
							<span class="icongun"></span><input  class="armed" name="data.armed" type="text" value="{{data.data.armed}}" title="{{data.data.armed}}" placeholder="Arme" readonly="" /><input  class="degatd" name="data.degatd" value="{{data.data.degatd}}" readonly="" style="display: none;"/><button class="desequi" genre="arme">🗑</button>
							<div class="clear"></div>
							<span class="iconcha"></span><input  class="charged" name="data.charged" type="text" value="{{data.data.charged}}" title="{{data.data.charged}}" placeholder="Chargeur" readonly="" /><button class="desequi" genre="chargeur">🗑</button>						
						</div>
							
						<div class="grid-3col" style="text-align: center" class="unemain">
							<span class="iconarm"></span><input  class="armurequi" name="data.prog" type="text" value="{{data.data.prog}}" title="{{data.data.prog}}" placeholder="Armure" readonly="" /><button class="desequi" genre="armure">🗑</button>
							

						</div>
						<div class="grid-3col" style="text-align: center">
							<span class="iconbou"></span><input  class="bouclierqui" name="data.prod" type="text" value="{{data.data.prod}}"  title="{{data.data.prod}}" placeholder="Bouclier" readonly="" /><button class="desequi" genre="bouclier">🗑</button>
							<ol class="items-list">
							{{#each actor.argent as |item id|}}
					                <li class="item rexrow" data-item-id="{{item._id}}">
					                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
					                    <!--h4 class="item-name" title="{{item.name}}">{{item.name}}</h4>
					                    <h4 class="item-genre" title="{{item.data.genre}}">{{item.data.genre}}</h4>
					                    <h4 class="item-description2" title="{{item.data.description}}">{{item.data.description}}</h4>
					                    <h4 class="item-poid">{{item.data.poids}}</h4>
					                    <h4 class="item-valeur">{{item.data.valeur}}</h4>
					                    <h4 class="item-techno">{{item.data.techno}}</h4-->
					                    <h4 class="item-qt" style="width:100px">{{item.data.quantite}}</h4>
					                    <div class="item-controls">
					                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
					                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
					                    </div>
					                </li>
					            {{/each}}
					        </ol>
						</div>

						
					
							
					</div>
					<div style="overflow: auto;height: 554px;w">
						<h2 style="margin-top: 20px">{{localize 'libersf.armes'}}</h2>
						<ol class="items-list">
			                <li class="item rexrow item-header">
			                  <div class="item-image"></div>
			                  <div class="item-name">{{localize 'libersf.nom'}}</div>
			                  <div class="item-genre"></div>
			                  <!--div class="item-description">{{localize 'libersf.descri'}}</div-->               
			                  <div class="item-portee">{{localize 'libersf.l1'}}</div>
			                  <div class="item-dommage">{{localize 'libersf.l2'}}</div>
			                  <div class="item-poids">{{localize 'libersf.l3'}}</div>
			                  <div class="item-valeur">{{localize 'libersf.l4'}}</div>
			                  <div class="item-techno">{{localize 'libersf.l5'}}</div>
			                  <div class="item-qty">{{localize 'libersf.l6'}}</div>
			                  <div class="item-controls">
			                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
			                  </div>
			                </li>
			            {{#each actor.arme as |item id|}}
			                <li class="item rexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
			                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
			                    <div class="item-genre" title="{{item.data.genre}}">{{item.data.genre}}</div>
			                    <div class="item-portee">{{item.data.portee}}</div>
			                    <!--div class="item-dommage jetdedegat" data-name="{{item.name}}" data-dice="{{item.data.degat}}">{{item.data.degats}}</div-->
			                    <div class="item-dommage">{{item.data.degats}}</div>
			                    <div class="item-poid">{{item.data.poids}}</div>
			                    <div class="item-valeur">{{item.data.valeur}}</div>
			                    <div class="item-techno">{{item.data.techno}}</div>
			                    <div class="item-qt">{{item.data.quantite}}</div>
			                    <div class="item-controls">
			                    	<span class="item-equip" title="Equipé arme" genre="arme" name="{{item.name}}" degat="{{item.data.degats}}">+</span>
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                    <div class="item-description" title="{{item.data.description}}">{{item.data.description}}</div>

			                </li>
			            {{/each}}
		        		</ol>
				    	<h2 style="margin-top: 20px">{{localize 'libersf.armures'}}</h2>
						<ol class="items-list">
			                <li class="item rexrow item-header">
			                  <div class="item-image"></div>
			                  <div class="item-name">{{localize 'libersf.nom'}}</div>
			                  <div class="item-genre"></div>
			                  <!--div class="item-description">{{localize 'libersf.descri'}}</div-->               
			                  <div class="item-resitance">{{localize 'libersf.l7'}}</div>
			                  <div class="item-hpmax">{{localize 'libersf.l8'}}</div>
			                  <div class="item-poids">{{localize 'libersf.l3'}}</div>
			                  <div class="item-valeur">{{localize 'libersf.l4'}}</div>
			                  <div class="item-techno">{{localize 'libersf.l5'}}</div>
			                  <div class="item-qty">{{localize 'libersf.l6'}}</div>
			                  <div class="item-controls">
			                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
			                  </div>
			                </li>
			            {{#each actor.armure as |item id|}}
			                <li class="item rexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
			                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
			                    <div class="item-genre" title="{{item.data.genre}}">{{item.data.genre}}</div>
			                    <div class="item-resitance">{{item.data.resitance}}</div>
			                    <!--div class="item-dommage jetdedegat" data-name="{{item.name}}" data-dice="{{item.data.degat}}">{{item.data.degats}}</div-->
			                    <div class="item-hpmax">{{item.data.hp.max}}</div>
			                    <div class="item-poid">{{item.data.poids}}</div>
			                    <div class="item-valeur">{{item.data.valeur}}</div>
			                    <div class="item-techno">{{item.data.techno}}</div>
			                    <div class="item-qt">{{item.data.quantite}}</div>
			                    <div class="item-controls">
			                    	<span class="item-equip" title="Equipé armure" genre="{{item.data.genre}}" name="{{item.name}}" hpmax="{{item.data.hp.max}}">+</span>
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                    <div class="item-description" title="{{item.data.description}}">{{item.data.description}}</div>

			                </li>
			            {{/each}}
		        		</ol>
				    	<h2 style="margin-top: 20px">{{localize 'libersf.inv'}} <a class="item-control item-create" title="Create Item" data-type="objet" style="float: right;"><i class="fas fa-plus"></i></a></h2>
						<ol class="items-list">
			                <li class="item rexrow item-header">
			                  <div class="item-image"></div>
			                  <div class="item-name2">{{localize 'libersf.nom'}}</div>
			                  <div class="item-genre"></div>
			                  <!--div class="item-description2">{{localize 'libersf.descri'}}</div-->               
			                  <div class="item-poids">{{localize 'libersf.l3'}}</div>
			                  <div class="item-valeur">{{localize 'libersf.l4'}}</div>
			                  <div class="item-techno">{{localize 'libersf.l5'}}</div>
			                  <div class="item-qty">{{localize 'libersf.l6'}}</div>
			                  <div class="item-controls">
			                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
			                  </div>
			                </li>
			            {{#each actor.inventaire as |item id|}}
			                <li class="item rexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
			                    <h4 class="item-name2" title="{{item.name}}">{{item.name}}</h4>
			                    <h4 class="item-genre" title="{{item.data.genre}}">{{item.data.genre}}</h4>
			                    <h4 class="item-poid">{{item.data.poids}}</h4>
			                    <h4 class="item-valeur">{{item.data.valeur}}</h4>
			                    <h4 class="item-techno">{{item.data.techno}}</h4>
			                    <h4 class="item-qt">{{item.data.quantite}}</h4>
			                    <div class="item-controls">
			                    	<span class="item-equip" title="Equipé Chargeur" genre="{{item.data.genre}}" name="{{item.name}}">+</span>
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                    <h4 class="item-description2" title="{{item.data.description}}">{{item.data.description}}</h4>
			                </li>
			            {{/each}}
		        		</ol>
		        		<select class="listcompi"></select>
		        	</div>
				</div>

				{{!-- Spell Tab --}}
				<div id="magie" class="tab items " data-group="primary" data-tab="magie">   
					<div style="overflow: auto;height: 554px;w">
						<h2 style="margin-top: 20px">{{localize 'libersf.sort'}}</h2>
						<ol class="items-list">
			                <li class="item rexrow item-header">
			                  <div class="item-image"></div>
			                  <div class="item-name">{{localize 'libersf.nom'}}</div>
			                  <div class="item-genre"></div>
			                  <!--div class="item-description">{{localize 'libersf.descri'}}</div-->               
			                  <div class="item-portee">{{localize 'libersf.l1'}}</div>
			                  <div class="item-dommage">{{localize 'libersf.l2'}}</div>
			                  <div class="item-poids">{{localize 'libersf.l3'}}</div>
			                  <div class="item-valeur">{{localize 'libersf.l4'}}</div>
			                  <div class="item-techno">{{localize 'libersf.l5'}}</div>
			                  <div class="item-qty">{{localize 'libersf.l6'}}</div>
			                  <div class="item-controls">
			                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
			                  </div>
			                </li>
			            {{#each actor.sort as |item id|}}
			                <li class="item rexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
			                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
			                    <div class="item-genre" title="{{item.data.genre}}">{{item.data.genre}}</div>
			                    <div class="item-portee">{{item.data.portee}}</div>
			                    <!--div class="item-dommage jetdedegat" data-name="{{item.name}}" data-dice="{{item.data.degat}}">{{item.data.degats}}</div-->
			                    <div class="item-dommage">{{item.data.degats}}</div>
			                    <div class="item-poid">{{item.data.poids}}</div>
			                    <div class="item-valeur">{{item.data.valeur}}</div>
			                    <div class="item-techno">{{item.data.techno}}</div>
			                    <div class="item-qt">{{item.data.quantite}}</div>
			                    <div class="item-controls">
			                    	<span class="item-equip" title="Equipé arme" genre="arme" name="{{item.name}}">+</span>
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                    <div class="item-description" title="{{item.data.description}}">{{item.data.description}}</div>

			                </li>
			            {{/each}}
		        		</ol>
		        	</div>
				</div>





				{{!-- Sante Tab --}}
				<div id="sante" class="tab sante" data-group="primary" data-tab="sante">
					<div class="santes">
						<div class="zone tete">
							<div class="bar" style="width:calc(100px - {{data.data.tete}}0px); background:green;"></div>
							<input name="data.tete" type="text" value="{{data.data.tete}}" placeholder="Tete"/>
						</div>
						<div class="zone bd">
							<div class="bar" style="width:calc(100px - {{data.data.bd}}0px); background:green;"></div>
							<input name="data.bd" type="text" value="{{data.data.bd}}" placeholder="bd" style=""/>
						</div>
						<div class="zone torse">
							<div class="bar" style="width:calc(100px - {{data.data.torse}}0px); background:green;"></div>
							<input name="data.torse" type="text" value="{{data.data.torse}}" placeholder="torse"/>
						</div>
						<div class="zone bg">
							<div class="bar" style="width:calc(100px - {{data.data.bg}}0px); background:green;"></div>
							<input name="data.bg" type="text" value="{{data.data.bg}}" placeholder="bg"/>
						</div>
						<div class="zone jd">
							<div class="bar" style="width:calc(100px - {{data.data.jd}}0px); background:green;"></div>
							<input name="data.jd" type="text" value="{{data.data.jd}}" placeholder="jb"/>
						</div>
						<div class="zone jg">
							<div class="bar" style="width:calc(100px - {{data.data.jg}}0px); background:green;"></div>
							<input name="data.jg" type="text" value="{{data.data.jg}}" placeholder="jg"/>
						</div>
					</div>
					<h2 style="text-align: center;">{{localize 'libersf.zone'}}</h2>
					<p style="color:#fff; width: 45%; float:left; display: block;">1° Blessure => Dégat - point d'armure<br>2° Pv armure - Dégats <br><br>
						Si PV=0 :<br>
					sur D100 :
					-Tête 0-10<br>-	Bras D 11-20<br>- Bras G 21-30<br>-	Torse 31- 70<br>- Jambe D 71-85<br>- Jambe G 86-100<br><br>Indiqué les dégats prient dans le shéma ci-dessus. Si plus de bar de santé la zone est morte.</p>
					<img src="https://leschroniquesdeliber.fr/jdr/contenu/libersf/img/effetarme.png" style="width: 310px; height: auto;float: right;margin-top:10px">
				</div>
				{{!-- Lab Tab --}}
				<div id="lab" class="tab stats" data-group="primary" data-tab="lab">
					<h2 style="margin-top: 20px">{{localize 'libersf.race'}}</h2>
					<SELECT class="raceliste" size="1" style="width: 50%; margin: 3px;background: #0d0d0d;color: #fff;" name="data.race">
						{{#select data.data.race}}
		                    <option value="{{localize 'libersf.humain'}}">{{localize 'libersf.humain'}}</option>
		                    <option value="{{localize 'libersf.pleiadiens'}}">{{localize 'libersf.pleiadiens'}}</option>
		                    <option value="{{localize 'libersf.artu'}}">{{localize 'libersf.artu'}}</option>
		                    <option value="{{localize 'libersf.yor'}}">{{localize 'libersf.yor'}}</option>
		                    <option value="{{localize 'libersf.dragon'}}">{{localize 'libersf.dragon'}}</option>
		                    <option value="{{localize 'libersf.elf'}}">{{localize 'libersf.elf'}}</option>
		                    <option value="{{localize 'libersf.machine'}}">{{localize 'libersf.machine'}}</option>
		                    <option value="{{localize 'libersf.orqu'}}">{{localize 'libersf.orqu'}}</option>
	                    {{/select}}
	                </SELECT>
	                <input type="button" value="{{localize 'libersf.choisir'}}" class="racechoix" style="width: 40%;padding:5px;float: right;margin: 4px;background: #782e22;color:#ddd;">
	                <h2 style="margin-top: 20px">{{localize 'libersf.faction'}}</h2>
					<SELECT class="factionliste" size="1" style="width: 50%; margin: 3px;background: #0d0d0d;color: #fff;" name="data.religion">
	                    {{#select data.data.religion}}
		                    <option value="{{localize 'libersf.empire'}}">{{localize 'libersf.empire'}}</option>
		                    <option value="{{localize 'libersf.pleide'}}">{{localize 'libersf.pleide'}}</option>
		                    <option value="{{localize 'libersf.omc'}}">{{localize 'libersf.omc'}}</option>
		                    <option value="{{localize 'libersf.fede'}}">{{localize 'libersf.fede'}}</option>
		                    <option value="{{localize 'libersf.rebel'}}">{{localize 'libersf.rebel'}}</option>
		                    <option value="{{localize 'libersf.fan'}}">{{localize 'libersf.fan'}}</option>
		                {{/select}}
	                </SELECT>
	                <input type="button" value="{{localize 'libersf.choisir'}}" class="factionchoix" style="width: 40%;padding:5px;float: right;margin: 4px;background: #782e22;color:#ddd;">
	                <h2 style="margin-top: 20px">{{localize 'libersf.metier'}}</h2>
					<SELECT class="metierliste" size="1" style="width: 50%; margin: 3px;background: #0d0d0d;color: #fff;" name="data.metier">
	                    {{#select data.data.metier}}
		                    <option value="{{localize 'libersf.metier1'}}">{{localize 'libersf.metier1'}}</option>
		                    <option value="{{localize 'libersf.metier2'}}">{{localize 'libersf.metier2'}}</option>
		                    <option value="{{localize 'libersf.metier3'}}">{{localize 'libersf.metier3'}}</option>
		                    <option value="{{localize 'libersf.metier4'}}">{{localize 'libersf.metier4'}}</option>
		                    <option value="{{localize 'libersf.metier5'}}">{{localize 'libersf.metier5'}}</option>
		                    <option value="{{localize 'libersf.metier6'}}">{{localize 'libersf.metier6'}}</option>
		                    <option value="{{localize 'libersf.metier7'}}">{{localize 'libersf.metier7'}}</option>
		                    <option value="{{localize 'libersf.metier8'}}">{{localize 'libersf.metier8'}}</option>
		                    <option value="{{localize 'libersf.metier9'}}">{{localize 'libersf.metier9'}}</option>
		                {{/select}}
	                </SELECT>
	                <input type="button" value="Choisir" class="metierchoix" style="width: 40%;padding:5px;float: right;margin: 4px;background: #782e22;color:#ddd;">
	                <h2 style="margin-top: 20px">Andomède</h2>
					<SELECT class="andomedes" size="1" style="width: 50%; margin: 3px;background: #0d0d0d;color: #fff;" name="data.andomedes">
	                    {{#select data.data.andomedes}}
		                    <option value="non">Non</option>
		                    <option value="oui">oui</option>
		                {{/select}}
	                </SELECT>					
					
				</div>
			</section>
		</div>
	</div>	
</div>
</form>