<form class="{{cssClass}} Liber flexcol" autocomplete="off">
<div class="fiche">
	{{!-- Sheet Header --}}
	<div style="width: 592px;float: left;display: inline-block;">
		<div class="sheet-header flexcol" id="pj-titre" style="flex: 0 0 515px;">
			<div class="head">
				<div class="avatar"> 
					<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
				</div>				<div class="headtext">
					<input class="nomperso" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
					<div class="rexrow">
						<div class="grid-3col">			
							<p>{{localize 'libersf.race'}} <input class="race" name="system.race" type="text" value="{{actor.system.race}}" placeholder="Race"/></p>
						</div>
						<div class="grid-3col">
							<p>{{localize 'libersf.l5'}} <input class="model" name="system.model" type="text" value="{{actor.system.model}}" placeholder="Dépasser : ★ ✬ ☆ ☆ ☆" readonly="" /></p>
						</div>
						<div class="grid-3col">
							<p>{{localize 'libersf.faction'}} <input  name="system.faction" type="text" value="{{actor.system.faction}}" placeholder="Faction"/></p>
						</div>
						<p><input class="metier" name="system.types" type="text" value="{{actor.system.types}}" placeholder="Type" style="width: 172px" readonly /> <input name="system.tailles" type="text" value="{{actor.system.tailles}}" placeholder="Leger" style="width: 158px" readonly /> <input  name="system.prix" type="text" value="{{actor.system.prix}}" placeholder="{{actor.system.prix}}" style="text-align: right;width: 90px;margin-left: 10px;"/> Cr</p>
					</div>
				</div>		
			</div>
		</div>
		<main>
			<h2>{{localize 'libersf.histoire'}}</h2>
				<textarea class="histoire" name="system.histoire" style="background: none">{{actor.system.histoire}}</textarea>	
			<h2>{{localize 'libersf.etat2'}}</h2>
			<div class="rexrow stat">
				<div class="grid-2col">
					<p><span class="deno">❤ {{localize 'libersf.vie'}}</span><input class="hp" name="system.hp.value" type="text" value="{{actor.system.hp.value}}" placeholder="10" style="width: 40px;"/><input class="hpmax" name="system.hp.max" type="text" value="{{actor.system.hp.max}}" placeholder="10" style="width: 40px;"/>
				</div>
				<div class="grid-2col">
					<p><span class="deno">⛉ {{localize 'libersf.blindage'}}</span><input class="actarm" name="system.armure.value" type="text" value="{{actor.system.armure.value}}" placeholder="0"/><input class="actarmmax" name="system.armure.max" type="text" value="{{actor.system.armure.max}}" placeholder="0"/>
					<span class="deno">⛉ {{localize 'libersf.bouclier'}}</span><input class="actbou" name="system.protections.value" type="text" value="{{actor.system.protections.value}}" placeholder="0"/><input  class="actboumax" name="system.protections.max" type="text" value="{{actor.system.protections.max}}" placeholder="0"/> </p>
				</div>
				<div class="clear"></div>
				<div class="etat">
					<button class="etat0"></button>
					<button class="etat1"></button>
					<button class="etat2"></button>
					<button class="etat3"></button>
					<button class="etat4"></button>
					<button class="etat5"></button>
					<button class="etat6"></button>
					<button class="etat7"></button>
					<button class="etat8"></button>
					<button class="etat9"></button>
					<button class="etat10"></button>
					<button class="etat11"></button>
					<button class="etat12"></button>
					<input class="etats" name="system.etat" type="text" value="{{actor.system.etat}}" style="display:none"/>

				</div>
			</div>
			<div class="clear"></div>
			<div class="rexrow modif">
				<div class="grid-3col">
					<h2>{{localize 'libersf.vie'}}</h2>
					<div class="viecl">{{actor.system.hp.value}}</div>
				</div>
				<div class="grid-3col">
					<h2>{{localize 'libersf.ptarmor'}}</h2>
					<div class="armcl">{{actor.system.armure.value}}</div>
				</div>
				<div class="grid-3col">
					<h2>{{localize 'libersf.ptboucl'}}</h2>
					<div class="boucl">{{actor.system.protections.value}}</div>
				</div>
			</div>
		</main>
	</div>
	<div style="width: 592px;float: left;display: inline-block;">
		<div class="autres">
			{{!-- Sheet Tab Navigation --}}
		    <nav class="sheet-tabs tabs" data-group="primary">
		        <a class="item active" data-tab="features" style="width:25%"><span>{{localize 'libersf.ia'}}</span></a><a class="item" data-tab="items" style="width:25%"><span>{{localize 'libersf.inv'}}</span></a><a class="item" data-tab="sante" style="width:25%"><span>{{localize 'libersf.sante'}}</span></a><a class="item" data-tab="lab" style="width:25%">⚙</a>
		    </nav>
		    {{!-- Sheet Body --}}
			<section class="sheet-body" style="overflow: hidden;height: 717px;">
			    {{!-- Features Tab --}}
				<div id="features" class="tab features"  data-group="primary" data-tab="features">
					<h2 style="text-align: center;">Ajoute un bonus au lanceur</h2>
					<div class="compt"><button class="jetdedes" data-name="Agilité" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Agilité}}">{{localize 'libersf.agil'}}</button>
					<input class="cpt0" name="system.Agilité" type="text" value="{{actor.system.Agilité}}" placeholder="{{actor.system.Agilité}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Artisanat" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Artisanat}}">{{localize 'libersf.arti'}}</button>
					<input class="cpt1" name="system.Artisanat" type="text" value="{{actor.system.Artisanat}}" placeholder="{{actor.system.Artisanat}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Balistique" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Balistique}}">{{localize 'libersf.bali'}}</button>
					<input class="cpt2" name="system.Balistique" type="text" value="{{actor.system.Balistique}}" placeholder="{{actor.system.Balistique}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Combat" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Combat}}">{{localize 'libersf.comb'}}</button>
					<input class="cpt3" name="system.Combat" type="text" value="{{actor.system.Combat}}" placeholder="{{actor.system.Combat}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="ConGén" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.ConGén}}">{{localize 'libersf.cong'}}</button>
					<input class="cpt4" name="system.ConGén" type="text" value="{{actor.system.ConGén}}" placeholder="{{actor.system.ConGén}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="ConSpécif" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.ConSpécif}}">{{localize 'libersf.comp'}}</button>
					<input class="cpt5" name="system.ConSpécif" type="text" value="{{actor.system.ConSpécif}}" placeholder="{{actor.system.ConSpécif}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Dextérité" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Dextérité}}">{{localize 'libersf.dext'}}</button>
					<input class="cpt6" name="system.Dextérité" type="text" value="{{actor.system.Dextérité}}" placeholder="{{actor.system.Dextérité}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Diplomatie" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Diplomatie}}">{{localize 'libersf.dipl'}}</button>
					<input class="cpt7" name="system.Diplomatie" type="text" value="{{actor.system.Diplomatie}}" placeholder="{{actor.system.Diplomatie}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Discrétion" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Discrétion}}">{{localize 'libersf.disc'}}</button>
					<input class="cpt8" name="system.Discrétion" type="text" value="{{actor.system.Discrétion}}" placeholder="{{actor.system.Discrétion}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Force" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Force}}">{{localize 'libersf.forc'}}</button>
					<input class="cpt9" name="system.Force" type="text" value="{{actor.system.Force}}" placeholder="{{actor.system.Force}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Investigation" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Investigation}}">{{localize 'libersf.inve'}}</button>
					<input class="cpt10" name="system.Investigation" type="text" value="{{actor.system.Investigation}}" placeholder="{{actor.system.Investigation}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Jeu" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Jeu}}">{{localize 'libersf.ajeu'}}</button>
					<input class="cpt11" name="system.Jeu" type="text" value="{{actor.system.Jeu}}" placeholder="{{actor.system.Jeu}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Mécanique" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Mécanique}}">{{localize 'libersf.meca'}}</button>
					<input class="cpt12" name="system.Mécanique" type="text" value="{{actor.system.Mécanique}}" placeholder="{{actor.system.Mécanique}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Médecine" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Médecine}}">{{localize 'libersf.mede'}}</button>
					<input class="cpt13" name="system.Médecine" type="text" value="{{actor.system.Médecine}}" placeholder="{{actor.system.Médecine}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Natation" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Natation}}">{{localize 'libersf.nata'}}</button>
					<input class="cpt14" name="system.Natation" type="text" value="{{actor.system.Natation}}" placeholder="{{actor.system.Natation}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Navigation" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Navigation}}">{{localize 'libersf.navi'}}</button>
					<input class="cpt15" name="system.Navigation" type="text" value="{{actor.system.Navigation}}" placeholder="{{actor.system.Navigation}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Négociation" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Négociation}}">{{localize 'libersf.nego'}}</button>
					<input class="cpt16" name="system.Négociation" type="text" value="{{actor.system.Négociation}}" placeholder="{{actor.system.Négociation}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Perception" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Perception}}">{{localize 'libersf.perc'}}</button>
					<input class="cpt17" name="system.Perception" type="text" value="{{actor.system.Perception}}" placeholder="{{actor.system.Perception}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Pilotage" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Pilotage}}">{{localize 'libersf.pilo'}}</button>
					<input class="cpt18" name="system.Pilotage" type="text" value="{{actor.system.Pilotage}}" placeholder="{{actor.system.Pilotage}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Piratage" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Piratage}}">{{localize 'libersf.pira'}}</button>
					<input class="cpt19" name="system.Piratage" type="text" value="{{actor.system.Piratage}}" placeholder="{{actor.system.Piratage}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Pistage" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Pistage}}">{{localize 'libersf.pist'}}</button>
					<input class="cpt20" name="system.Pistage" type="text" value="{{actor.system.Pistage}}" placeholder="{{actor.system.Pistage}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Religion" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Religion}}">{{localize 'libersf.reli'}}</button>
					<input class="cpt21" name="system.Religion" type="text" value="{{actor.system.Religion}}" placeholder="{{actor.system.Religion}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Science" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Science}}">{{localize 'libersf.scie'}}</button>
					<input class="cpt22" name="system.Science" type="text" value="{{actor.system.Science}}" placeholder="{{actor.system.Science}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Survie" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Survie}}">{{localize 'libersf.surv'}}</button>
					<input class="cpt23" name="system.Survie" type="text" value="{{actor.system.Survie}}" placeholder="{{actor.system.Survie}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Tir" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Tir}}">{{localize 'libersf.atir'}}</button>
					<input class="cpt24" name="system.Tir" type="text" value="{{actor.system.Tir}}" placeholder="{{actor.system.Tir}}" style="text-align: center"/>
					</div>
					<div class="compt"><button class="jetdedes" data-name="Visée" data-dice="1d" data-actionvalue="{{actor.system.bonus}}" data-attDice="{{actor.system.Visée}}">{{localize 'libersf.vise'}}</button>
					<input class="cpt25" name="system.Visée" type="text" value="{{actor.system.Visée}}" placeholder="{{actor.system.Visée}}" style="text-align: center"/>
					</div>
					<div class="clear"></div>
					<div class="grid-2col" style="margin-top: 20px">
						<h2 style="text-align:center">Point restant</h2>
						<input class="pointrestant" style="width:150px;border: none;background: none; font-size: 50px;height:50px;color: #fff; text-align: center;margin-left: calc(50% - 75px);" type="text" value="0" readonly/>
						<input class="pointrestant2" name="system.pointrestant2" style="display:none" type="text" value="{{actor.system.pointrestant2}}" readonly/>
					</div>
					<div class="grid-2col" style="margin-top: 20px"-->
						<h2 style="text-align:center">{{localize 'libersf.bonusmj'}}</h2>
						<input class="malussactor" style="width:150px;border: none;background: none; font-size: 50px;height:50px;color: #fff; text-align: center;margin-left: calc(50% - 75px);" name="system.malus" type="text" value="{{actor.system.malus}}" placeholder="0"/>
					</div>
				</div>
				{{!-- Items Tab --}}
				<div id="items" class="tab items" data-group="primary" data-tab="items">
					<div style="overflow: auto;height: 694px;">
						<h2 style="margin-top: 20px">{{actor.system.equi}} Armes</h2>
						<ol class="items-list">
			                <li class="item rexrow item-header">
			                  <div class="item-image"></div>
			                  <div class="item-name">{{localize 'libersf.nom'}}</div>
			                  <div class="item-genre"></div>
			                  <div class="item-portee">{{localize 'libersf.l1'}}</div>
			                  <div class="item-dommage">{{localize 'libersf.l2'}}</div>
			                  <div class="item-poids">{{localize 'libersf.l3'}}</div>
			                  <div class="item-valeur">{{localize 'libersf.l4'}}</div>
			                  <div class="item-techno">{{localize 'libersf.l5'}}</div>
			                  <div class="item-qty">{{localize 'libersf.l6'}}</div>
			                  <div class="item-controls">
			                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
			                  </div>
			                </li>
			            {{#each actor.arme as |item id|}}
			                <li class="item rexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
			                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
			                    <div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
			                    <div class="item-portee">{{item.system.portee}}</div>
			                    <!--div class="item-dommage jetdedegat" data-name="{{item.name}}" data-dice="{{item.system.degat}}">{{item.system.degats}}</div-->
			                    <div class="item-dommage">{{item.system.degats}}</div>
			                    <div class="item-poid">{{item.system.poids}}</div>
			                    <div class="item-valeur">{{item.system.valeur}}</div>
			                    <div class="item-techno">{{item.system.techno}}</div>
			                    <div class="item-qt">{{item.system.quantite}}</div>
			                    <div class="item-controls">
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                    <div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
			                </li>
			            {{/each}}
		        		</ol>
				    	<h2 style="margin-top: 20px">Armures</h2>
						<ol class="items-list">
			                <li class="item rexrow item-header">
			                  <div class="item-image"></div>
			                  <div class="item-name">{{localize 'libersf.nom'}}</div>
			                  <div class="item-genre"></div>
			                  <div class="item-resitance">{{localize 'libersf.l7'}}</div>
			                  <div class="item-hpmax">{{localize 'libersf.l8'}}</div>
			                  <div class="item-poids">{{localize 'libersf.l3'}}</div>
			                  <div class="item-valeur">{{localize 'libersf.l4'}}</div>
			                  <div class="item-techno">{{localize 'libersf.l5'}}</div>
			                  <div class="item-qty">{{localize 'libersf.l6'}}</div>
			                  <div class="item-controls">
			                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
			                  </div>
			                </li>
			            {{#each actor.armure as |item id|}}
			                <li class="item rexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
			                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
			                    <div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
			                    <div class="item-resitance">{{item.system.resitance}}</div>
			                    <!--div class="item-dommage jetdedegat" data-name="{{item.name}}" data-dice="{{item.system.degat}}">{{item.system.degats}}</div-->
			                    <div class="item-hpmax">{{item.system.hp.max}}</div>
			                    <div class="item-poid">{{item.system.poids}}</div>
			                    <div class="item-valeur">{{item.system.valeur}}</div>
			                    <div class="item-techno">{{item.system.techno}}</div>
			                    <div class="item-qt">{{item.system.quantite}}</div>
			                    <div class="item-controls">
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                    <div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
			                </li>
			            {{/each}}
		        		</ol>
				    	<h2 style="margin-top: 20px">{{actor.system.piece}} Pièce</h2>
						<ol class="items-list">
			                <li class="item flexrow item-header">
			                  <div class="item-image"></div>
			                  <div class="item-name">{{localize 'libersf.nom'}}</div>
			                  <div class="item-name">{{localize 'libersf.type'}}</div>
			                  <div class="item-poids">{{localize 'libersf.ods'}}</div>
			                  <div class="item-valeur">{{localize 'libersf.valeur'}}</div>
			                  <div class="item-techno">{{localize 'libersf.l5'}}</div>
			                  <div class="item-qty">{{localize 'libersf.qte'}}</div>
			                  <div class="item-controls">
			                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
			                  </div>
			                </li>
			            {{#each actor.piece as |item id|}}
			                <li class="item flexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
			                    <div class="item-name" title="{{item.name}}">{{item.name}}</div>
			                    <div class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</div>
			                    <div class="item-poids">{{item.system.poids}}</div>
			                    <div class="item-valeur">{{item.system.valeur}}</div>
			                    <div class="item-techno">{{item.system.techno}}</div>
			                    <div class="item-qty">{{item.system.quantite}}</div>
			                    <div class="item-controls">
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                    <div class="item-description" title="{{item.system.description}}">{{item.system.description}}</div>
			                </li>
			            {{/each}}
		        		</ol>
		        		<h2 style="margin-top: 20px">{{localize 'libersf.inv'}} <a class="item-control item-create" title="Create Item" data-type="objet" style="float: right;"><i class="fas fa-plus"></i></a></h2>
						<ol class="items-list">
			                <li class="item rexrow item-header">
			                  <div class="item-image"></div>
			                  <div class="item-name">{{localize 'libersf.nom'}}</div>
			                  <div class="item-genre"></div>
			                  <div class="item-poids">{{localize 'libersf.l3'}}Pds</div>
			                  <div class="item-valeur">{{localize 'libersf.l4'}}Cr</div>
			                  <div class="item-techno">{{localize 'libersf.l5'}}Techno</div>
			                  <div class="item-qty">{{localize 'libersf.l6'}}Qte</div>
			                  <div class="item-controls">
			                    <!--a class="item-control item-create" title="Create item" data-type="armes"><i class="fas fa-plus"></i> Add item</a-->
			                  </div>
			                </li>
			            {{#each actor.inventaire as |item id|}}
			                <li class="item rexrow" data-item-id="{{item._id}}">
			                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
			                    <h4 class="item-name2" title="{{item.name}}">{{item.name}}</h4>
			                    <h4 class="item-genre" title="{{item.system.genre}}">{{item.system.genre}}</h4>
			                    <h4 class="item-poid">{{item.system.poids}}</h4>
			                    <h4 class="item-valeur">{{item.system.valeur}}</h4>
			                    <h4 class="item-techno">{{item.system.techno}}</h4>
			                    <h4 class="item-qt">{{item.system.quantite}}</h4>
			                    <div class="item-controls">
			                    	<span class="item-equip" title="Equipé Chargeur" genre="{{item.system.genre}}" name="{{item.name}}" data-name="{{item.name}}" data-genre="{{item.system.genre}}">+</span>
			                    	<a class="item-control item-desc" title="Desc Sort">&#128712;</a>
			                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
			                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
			                    </div>
			                    <h4 class="item-description2" title="{{item.system.description}}">{{item.system.description}}</h4>
			                </li>
			            {{/each}}
		        		</ol>
		        	</div>
				</div>
				{{!-- Sante Tab --}}
				<div id="sante" class="tab sante" data-group="primary" data-tab="sante">
					<div class="vaisseau">
						<div class="zone tete">
							<div class="bar bar0" style="width:{{actor.system.tete}}%; background:blue;"></div>
							<input class="min0" name="system.tete" type="text" value="{{actor.system.tete}}" placeholder="0" style="width:50px"/><input class="max0" name="system.tete2" type="text" value="{{actor.system.tete2}}" placeholder="0" style="width:50px"/>
						</div>
						<div class="zone bd">
							<div class="bar bar1" style="width:{{actor.system.bd}}%; background:blue;"></div>
							<input class="min1" name="system.bd" type="text" value="{{actor.system.bd}}" placeholder="0" style="width:50px"/><input class="max1" name="system.bd2" type="text" value="{{actor.system.bd2}}" placeholder="0" style="width:50px"/>
						</div>
						<div class="zone blinder">
							<div class="bar bar2" style="width:100%; background:green;"></div>
							<input class="vh_blind" name="system.torse" type="text" value="{{actor.system.torse}}"placeholder="0"/>
						</div>
						<div class="zone bg">
							<div class="bar" style="width:{{actor.system.bg}}%; background:blue;"></div>
							<input class="min2" name="system.bg" type="text" value="{{actor.system.bg}}" placeholder="0" style="width:50px"/><input class="max2" name="system.bg2" type="text" value="{{actor.system.bg2}}" placeholder="0" style="width:50px"/>
						</div>
						<div class="zone poupe">
							<div class="bar bar3" style="width:{{actor.system.jd}}%; background:blue;"></div>
							<input class="min3" name="system.jd" type="text" value="{{actor.system.jd}}" placeholder="0" style="width:50px"/><input class="max3" name="system.jd2" type="text" value="{{actor.system.jd2}}" placeholder="0" style="width:50px"/>
						</div>
					</div>
				</div>
				{{!-- Lab Tab --}}
				<div id="lab" class="tab stats" data-group="primary" data-tab="lab">
					<h2 style="margin-top: 20px">{{localize 'libersf.type'}}</h2>
					<SELECT class="typeliste" size="1" style="width: 50%; margin: 3px;background: #0d0d0d;color: #fff;" name="system.type">
	                    {{#select data.system.type}}
		                    <option value="1">{{localize 'libersf.type1'}}</option>
		                    <option value="2">{{localize 'libersf.type2'}}</option>
		                    <option value="3">{{localize 'libersf.type3'}}</option>
		                    <option value="4">{{localize 'libersf.type4'}}</option>
		                {{/select}}
	                </SELECT>
	                <input type="button" value="{{localize 'libersf.choisir'}}" class="vehichoix" style="width: 40%;padding:5px;float: right;margin: 4px;background: #a10001;color:#ddd;">

					<h2 style="margin-top: 20px">{{localize 'libersf.taille'}}</h2>
					<SELECT class="tailleliste" size="1" style="width: 50%; margin: 3px;background: #0d0d0d;color: #fff;" name="system.taille">
	                    {{#select data.system.taille}}
		                    <option value="1">{{localize 'libersf.taille1'}}</option>
		                    <option value="2">{{localize 'libersf.taille2'}}</option>
		                    <option value="3">{{localize 'libersf.taille3'}}</option>
		                    <option value="4">{{localize 'libersf.taille4'}}</option>
		                {{/select}}
	                </SELECT>
	                <input type="button" value="{{localize 'libersf.choisir'}}" class="vehichoix" style="width: 40%;padding:5px;float: right;margin: 4px;background: #a10001;color:#ddd;">

					<h2 style="margin-top: 20px">{{localize 'libersf.ia'}}</h2>
					<SELECT class="ialiste" size="1" style="width: 50%; margin: 3px;background: #0d0d0d;color: #fff;" name="system.ia">
	                    {{#select data.system.ia}}
		                    <option value="0.5">✬ ☆ ☆ ☆ ☆</option>
		                    <option value="1">★ ☆ ☆ ☆ ☆</option>
		                    <option value="1.5">★ ✬ ☆ ☆ ☆</option>
		                    <option value="2">★ ★ ☆ ☆ ☆</option>
		                    <option value="2.5">★ ★ ✬ ☆ ☆</option>
		                    <option value="3">★ ★ ★ ☆ ☆</option>
		                    <option value="3.5">★ ★ ★ ✬ ☆</option>
		                    <option value="4">★ ★ ★ ★ ☆</option>
		                    <option value="4.5">★ ★ ★ ★ ✬</option>
		                    <option value="5">★ ★ ★ ★ ★</option>
		                {{/select}}
	                </SELECT>
	                <input type="button" value="{{localize 'libersf.choisir'}}" class="vehichoix" style="width: 40%;padding:5px;float: right;margin: 4px;background: #a10001;color:#ddd;">

	                <h2 style="margin-top: 20px">{{localize 'libersf.moteur'}}</h2>
					<SELECT class="moteurliste" size="1" style="width: 50%; margin: 3px;background: #0d0d0d;color: #fff;" name="system.moteur">
	                    {{#select data.system.moteur}}
		                    <option value="0.5">✬ ☆ ☆ ☆ ☆</option>
		                    <option value="1">★ ☆ ☆ ☆ ☆</option>
		                    <option value="1.5">★ ✬ ☆ ☆ ☆</option>
		                    <option value="2">★ ★ ☆ ☆ ☆</option>
		                    <option value="2.5">★ ★ ✬ ☆ ☆</option>
		                    <option value="3">★ ★ ★ ☆ ☆</option>
		                    <option value="3.5">★ ★ ★ ✬ ☆</option>
		                    <option value="4">★ ★ ★ ★ ☆</option>
		                    <option value="4.5">★ ★ ★ ★ ✬</option>
		                    <option value="5">★ ★ ★ ★ ★</option>
		                {{/select}}
	                </SELECT>
	                <input type="button" value="{{localize 'libersf.choisir'}}" class="vehichoix" style="width: 40%;padding:5px;float: right;margin: 4px;background: #a10001;color:#ddd;">

	                <h2 style="margin-top: 20px">{{localize 'libersf.blindage'}}</h2>
					<SELECT class="blindageliste" size="1" style="width: 50%; margin: 3px;background: #0d0d0d;color: #fff;" name="system.blindage">
	                    {{#select data.system.blindage}}
		                    <option value="0.5">✬ ☆ ☆ ☆ ☆</option>
		                    <option value="1">★ ☆ ☆ ☆ ☆</option>
		                    <option value="1.5">★ ✬ ☆ ☆ ☆</option>
		                    <option value="2">★ ★ ☆ ☆ ☆</option>
		                    <option value="2.5">★ ★ ✬ ☆ ☆</option>
		                    <option value="3">★ ★ ★ ☆ ☆</option>
		                    <option value="3.5">★ ★ ★ ✬ ☆</option>
		                    <option value="4">★ ★ ★ ★ ☆</option>
		                    <option value="4.5">★ ★ ★ ★ ✬</option>
		                    <option value="5">★ ★ ★ ★ ★</option>
		                {{/select}}
	                </SELECT>
	                <input type="button" value="{{localize 'libersf.choisir'}}" class="vehichoix" style="width: 40%;padding:5px;float: right;margin: 4px;background: #a10001;color:#ddd;">

	                <h2 style="margin-top: 20px">{{localize 'libersf.info'}}</h2>
					<p style="column-count: 5;padding: 5px;color: #fff;">
					{{localize 'libersf.v1'}} : <br><span class="ancienete">✬ ☆ ☆ ☆ ☆</span><br><br>
		            {{localize 'libersf.v2'}} : <br><span class="ancienete">★ ☆ ☆ ☆ ☆</span><br><br>
		            {{localize 'libersf.v3'}} : <br><span class="ancienete">★ ✬ ☆ ☆ ☆</span><br><br>
		            {{localize 'libersf.v4'}} : <br><span class="ancienete">★ ★ ☆ ☆ ☆</span><br><br>
		            {{localize 'libersf.v5'}} : <br><span class="ancienete">★ ★ ✬ ☆ ☆</span><br><br>
		            {{localize 'libersf.v6'}} : <br><span class="ancienete">★ ★ ★ ☆ ☆</span><br><br>
		            {{localize 'libersf.v7'}} : <br><span class="ancienete">★ ★ ★ ✬ ☆</span><br><br>
		            {{localize 'libersf.v8'}} : <br><span class="ancienete">★ ★ ★ ★ ☆</span><br><br>
		            {{localize 'libersf.v9'}} : <br><span class="ancienete">★ ★ ★ ★ ✬</span><br><br>
		            {{localize 'libersf.v10'}} : <br><span class="ancienete">★ ★ ★ ★ ★</span><br></p>
				</div>
			</section>
		</div>
	</div>	
</div>
</form>