<div>
  <section class="sheet-body">
    <label for="level">Niveau :</label>
    <input type="number" name="system.level" value="{{item.system.level}}" />

    <label for="health">Santé :</label>
    <input type="number" name="system.health" value="{{item.system.health}}" />
  </section>

  <footer class="sheet-footer">
    <button type="submit"><i class="fas fa-save"></i> Sauvegarder</button>
  </footer>

</div>