<div class="inventory-list cut-corner" style="height:200px">
  <label>
    {{localize 'Liber.Items.Prerequis'}}
    {{formInput systemFields.prerequis name="system.prerequis" value=system.prerequis localize=true rootId=partId}}
  </label>
   <label class="top">
    {{localize 'Liber.Items.Position'}}
	{{formInput systemFields.position name="system.position" value=system.position localize=true rootId=partId}}
  </label>
</div>