<div class="inventory-list cut-corner" style="height:200px">
  <label>
    {{localize 'Liber.Items.Prerequis'}}
    {{formInput systemFields.prerequis name="system.prerequis" value=system.prerequis localize=true rootId=partId}}
  </label>
  <label>
  	   {{formField systemFields.metier name="system.metier" value=system.metier localize=true rootId=partId type="select"}}
  </label>
</div>